html {
	font-size: 16px;
}

body {
	margin: 0;
	background: #f3f4f8;
	color: #585858;
	font-family: Helvetica, Arial, sans-serif;
}

.header {
	font-weight: 18px;
	align-items: center;
	text-align: left;
	max-width: 300px;
}

h1,
h2 {
	margin: 3em 0 1em;
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	font-size: 23px;
	letter-spacing: 3px;
}

h2 {
	font-size: 18px;
	letter-spacing: 1px;
}

p {
	margin: 0.7rem auto;
	font-weight: normal;
}

i {
	color: #1a85fd;
	letter-spacing: auto;
}

a {
	color: #ef7520;
}

.container {
	margin: 0 auto;
	max-width: 40em;
}

.convert-inputs {
	width: 100%;
	margin: auto;
	margin-top: 2rem;
}

.styled-text-box {
	min-height: 2em;
	width: inherit;
	/* margin: 20px auto 10px; */
	margin: 0;
	padding: 20px;
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.25;
	color: #999;
	background-color: #fff;
	border: none;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
	resize: none;
	word-break: break-all;
}

.results-link,
.results-text {
	color: #ef7520 !important;
	line-height: 1.25;
	word-break: break-all;
}

.compatibility-notice {
	margin: 2rem 0;
	color: #1a85fd;
}

.os-specific {
	display: none;
}

.container[data-os='windows'] .windows-only {
	display: block;
}

.container[data-os='macos'] .macos-only {
	display: block;
}

.container[data-os='error'] .error-only {
	display: block;
}

.hidden {
	opacity: 0;
}

.fade-in {
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* To delete */

.dev-notes {
	margin: 5rem 0;
	padding: 2em;
	border: 1px solid #ccc;
	color: #bbb;
}

.dev-notes h2 {
	margin-top: 0;
}

.dev-notes p {
	text-align: left;
	margin: 20px 0;
}

.dev-notes p:last-child {
	margin-bottom: 0;
}
